.SessionRow-container {
    width: 100%;
    height: 200px;
    background-color: #af17eb;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 5px;
}

.SessionRow-container:hover {
    box-shadow: 0 5px 10px rgba(0,0,0,0.7);
}

.SessionRow-image {
    width: 200px;
    height: 200px;
    float: left;
    border-radius: 3px;
}

.SessionRow-description {
    color: white;
    height: 100%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}
