.BookingForm-wrap {
    user-select: none;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.BookingForm-form {
    width: 480px;
    height: 320px;
    border-radius: 10px;
    background-color: #af17eb;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 10px rgba(0,0,0,0.7);
}


.BookingForm-description {
    color: white;
}

.BookingForm-label {
    color: white;
    text-align: right;
}

.BookingForm-input {
    width: calc(100% - 48px);
    margin: 8px;
    padding: 8px;
    display: block;
}

.BookingForm-submitButton {
    display: block;
    background-color: #66208b;
    width: 280px;
    height: 64px;
    border-radius: 12px;
    color: white;
    padding: 24px;
    margin: auto;
	border: none;
	font: inherit;
    font-weight: bold;
    outline: inherit;
}

.BookingForm-submitButton:hover {
    background-color: #8c60ae;
}
