.App {
  text-align: center;
  min-height: 100vh;
  background-color: #fea8ff;
}

.App-header {
  background-color: #af17eb;
  height: 80px;
  color: white;
  display: flex;
  flex-direction: column;
}

.App-content {
  min-height: calc(100vh - 140px);
  flex-direction: column;
  width: 1024px;
  margin: auto;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.App-sessionsWrap {
  width: 100%;
  padding: 20px;
}

.App-footer {
  position: relative;
  bottom: 0;
  height: 60px;
  margin-top: -60px;
  background-color: #af17eb;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  color: white;
}
